spring:
  application:
    name: seat-booking-service
  profiles:
    active: dev

app:
  api:
    base-path: /api/v1

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:h2:mem:bookingdb;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      mode: always
  jpa:
    hibernate:
      ddl-auto: none
    defer-datasource-initialization: true
    show-sql: true

  springdoc:
    swagger-ui:
      path: /swagger-ui.html
      operationsSorter: method
    api-docs:
      path: /v3/api-docs
    packages-to-scan: com.kata.controllers